<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Viewer</title>
</head>
<body>
    <h1>View PDF in Browser</h1>
    <object data="C:\Users\ARCAN\OneDrive\Escritorio\Documentos\Software\VideoProductora\src\curriculum.pdf" type="application/pdf" width="100%" height="600px">
        <p>Your browser does not support viewing PDFs. <a href="C:\Users\ARCAN\OneDrive\Escritorio\Documentos\Software\VideoProductora\src\curriculum.pdf">Download PDF</a></p>
    </object>
</body>
</html>